.imagecon{
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    top: 100;
    left: 100;
}

img{
    width: 100%;
}

.p{
    color: white;
    background-color: black;
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
}
.container{
    width: 300px;
    height: 300px;
    display: inline-block;
}